/* =========================================================
font head
========================================================= */
@utility heading-base {
    @apply font-heading;
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    line-height: var(--font-heading-line-height);
    letter-spacing: var(--font-heading-letter-spacing);
    text-transform: var(--font-heading-text-transform);
    word-break: break-word;

    color: rgb(var(--color-foreground));
}

@utility hxxxl {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 6.5rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 9rem);
    }
}
@utility hxxl {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 5.5rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 7.5rem);
    }
}
@utility hxl {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 4.5rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 6rem);
    }
}
@utility h0 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 3.5rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 4.5rem);
    }
}
@utility h1 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 3rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 4rem);
    }
}
@utility h2 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 2rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 2.4rem);
    }
}
@utility h3 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 1.7rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 1.8rem);
    }
}
@utility h4 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 1.5rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 1.5rem);
    }
}
@utility h5 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 1.2rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 1.3rem);
    }
}
@utility h6 {
    @apply heading-base;
    font-size: calc(var(--font-heading-scale) * 1.1rem);

    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-heading-scale) * 1.2rem);
    }
}

/* =========================================================
font body
========================================================= */
@utility body-base {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-line-height);
    letter-spacing: var(--font-body-letter-spacing);
    text-transform: var(--font-body-text-transform);
    word-break: break-word;

    color: rgba(var(--color-foreground), 0.8);
}

@utility body-xl {
    @apply body-base;
    font-size: calc(var(--font-body-scale) * 1.8rem);
    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-body-scale) * 2rem);
    }
}

@utility body-lg {
    @apply body-base;
    font-size: calc(var(--font-body-scale) * 1.6rem);
    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-body-scale) * 1.8rem);
    }
}

@utility body-md {
    @apply body-base;
    font-size: calc(var(--font-body-scale) * 1.4rem);
    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-body-scale) * 1.6rem);
    }
}

@utility body-sm {
    @apply body-base;
    font-size: calc(var(--font-body-scale) * 1.2rem);
    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-body-scale) * 1.3rem);
    }
}

@utility body-xs {
    @apply body-base;
    font-size: calc(var(--font-body-scale) * 1rem);
    @media (width >= theme(--breakpoint-pc)) {
        font-size: calc(var(--font-body-scale) * 1.1rem);
    }
}
