{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./tailwind/tailwind.input.css",
    "overrides": [
        {
            "files": ["*.liquid"],
            "options": {
                "singleQuote": false,
                "liquidSingleQuote": true
            }
        },
        {
            "files": ["templates/**/*.json", "config/settings_data.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
