<div data-section-id="{{ section.id }}" 
  class="announcement-bar full-width hidden pc:block"
  x-data="AnnouncementBar({{ section.settings | json }})"
  x-init="$nextTick(() => initSwiper())"
>
  Announcement bar
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "section",
    "max_blocks": 6,
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Auto-play announcements",
        "default": false
      },
      {
        "type": "range",
        "id": "change_play_speed",
        "min": 3,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Change play speed",
        "default": 5
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "Public settings"
      },
      {
        "type": "paragraph",
        "content": "Only displayed on large screens"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "default": false,
        "label": "Social icon",
        "info": "[Manage social accounts](/editor?context=theme&category=social%20icon)"
      },
      {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": false,
        "label": "Country/region selector",
        "info": "[Manage countries/regions](/admin/settings/markets)"
      },
      {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": false,
        "label": "Language selector",
        "info": "[Manage languages](/admin/settings/languages)"
      }
    ],
    "blocks":[
      {
        "type": "announcement",
        "name": "Announcement",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "default":"Welcome to our store!",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}