{% comment %}
  This section is used in the index template to render page shown when customers
  enter an website first time.
{% endcomment %}

{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.
{% endcomment %}

<h1>
  Hello World
</h1>


{% schema %}
{
  "name": "index",
  "settings": []
}
{% endschema %}
