<div>slides show</div>

{% schema %}
  {
    "name": "Slides Show",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header","footer"]
    },
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Slides Show",
        "settings": {
        }
      }
    ]
  }
{% endschema %}