*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
    overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    text-wrap: pretty;
}

:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

p:empty {
    display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
    margin-block-end: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    min-height: 100dvh;
    margin: 0;
    color: rgba(var(--color-foreground), 0.8);
    font-size: calc(var(--font-body-scale) * 1.4rem);
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-line-height);
    letter-spacing: var(--font-body-letter-spacing);
    text-transform: var(--font-body-text-transform);
    word-break: break-word;
}

@media (width >= theme(--breakpoint-pc)) {
    body {
        font-size: calc(var(--font-body-scale) * 1.6rem);
    }
}

input,
textarea,
select {
    font: inherit;
    background-color: rgba(var(--color-background));
    color: rgba(var(--color-foreground));
}

dialog {
    background-color: rgba(var(--color-background));
    color: rgba(var(--color-foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    line-height: var(--font-heading-line-height);
    letter-spacing: var(--font-heading-letter-spacing);
    text-transform: var(--font-heading-text-transform);
    word-break: break-word;
}

h1 {
    font-size: calc(var(--font-heading-scale) * 3rem);
}

h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);
}

h3 {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
}

h4 {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
}

h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
}

h6 {
    font-size: calc(var(--font-heading-scale) * 1.1rem);
}

@media (width >= theme(--breakpoint-pc)) {
    h1 {
        font-size: calc(var(--font-heading-scale) * 4rem);
    }

    h2 {
        font-size: calc(var(--font-heading-scale) * 2.4rem);
    }

    h3 {
        font-size: calc(var(--font-heading-scale) * 1.8rem);
    }

    h4 {
        font-size: calc(var(--font-heading-scale) * 1.5rem);
    }

    h5 {
        font-size: calc(var(--font-heading-scale) * 1.3rem);
    }

    h6 {
        font-size: calc(var(--font-heading-scale) * 1.2rem);
    }
}

.layout {
    position: relative;
    overflow: hidden;
}

.layout:not(.layout-no-pt) {
    padding-top: var(--section-padding-top);
}

.layout:not(.layout-no-pb) {
    padding-bottom: var(--section-padding-bottom);
}

main > section:first-child .layout:first-child:not(.layout-no-safe):not(.layout-no-pt) {
    padding-top: calc(
        var(--announcement-bar-height) + var(--header-height) + var(--section-padding-top)
    );
}

.layout-safe-top:not(.layout-no-safe):not(.layout-no-pt) {
    padding-top: calc(
        var(--announcement-bar-height) + var(--header-height) + var(--section-padding-top)
    );
}

.shopify-section {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns:
        minmax(var(--page-margin), 1fr)
        minmax(0, var(--page-width))
        minmax(var(--page-margin), 1fr);
}

main > .shopify-section {
    margin-top: var(--section-margin-top, 0);
    margin-bottom: var(--section-margin-bottom, 0);
}

main > .shopify-section:first-child {
    margin-top: 0;
}

main > .shopify-section:last-child {
    margin-bottom: 0;
}

.shopify-section > * {
    grid-column: 2;
}

.shopify-section > .full-width {
    grid-column: 1 / -1;
}

[x-cloak] {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
