@import "tailwindcss";

@layer base{
    @import "./base.css";    
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-pc: 48rem; /* desktop */
    --breakpoint-fw: 80rem; /* full-width */
}

@utility container-page {
    @apply relative grid w-full;

    grid-template-columns: 
        minmax(var(--page-margin),1fr)
        minmax(0 , var(--page-width))
        minmax(var(--page-margin),1fr);

    & > * {
        @apply col-2;
    }
}