@import 'tailwindcss';

@theme inline {
    /* Breakpoints */
    --breakpoint-*: initial;
    --breakpoint-pc: 48rem;
    --breakpoint-fw: 80rem;

    /* font */
    --font-heading: var(--font-heading-family);
    --font-body: var(--font-body-family);

    /* Colors */
    --color-theme-bg: rgb(var(--color-background));
    --color-theme-text: rgb(var(--color-foreground));
    --color-theme-icon: rgb(var(--color-icons));
    --color-theme-link: rgb(var(--color-links));

    --color-theme-border: rgb(var(--color-border));
    --color-theme-border-strong: rgb(var(--color-border-strong));
    --color-theme-border-soft: rgb(var(--color-border) / var(--border-opacity));

    --color-focus: rgb(var(--color-focus-ring));
    --color-focus-soft: rgb(var(--color-focus-ring) / var(--focus-ring-opacity));

    --color-primary: rgb(var(--color-primary-button));
    --color-primary-text: rgb(var(--color-primary-button-text));
    --color-primary-border: rgb(var(--color-primary-button-border));

    --color-secondary: rgb(var(--color-secondary-button));
    --color-secondary-text: rgb(var(--color-secondary-button-text));
    --color-secondary-border: rgb(var(--color-secondary-button-border));

    /* Radius */
    --radius-input: var(--input-radius);
    --radius-button: var(--button-radius);
    --radius-surface: var(--surface-radius);

    /* Shadow */
    --shadow-input: var(--input-shadow-horizontal-offset) var(--input-shadow-vertical-offset)
        var(--input-shadow-blur-radius) rgba(0, 0, 0, var(--input-shadow-opacity));
    --shadow-button: var(--button-shadow-horizontal-offset) var(--button-shadow-vertical-offset)
        var(--button-shadow-blur-radius) rgba(0, 0, 0, var(--button-shadow-opacity));
    --shadow-surface: var(--surface-shadow-horizontal-offset) var(--surface-shadow-vertical-offset)
        var(--surface-shadow-blur-radius) rgba(0, 0, 0, var(--surface-shadow-opacity));
}

@import './vendor-swiper.min.css' layer(base);
@import './base.css' layer(base);

@import './tailwind.elements.css';
@import './tailwind.components.css';
@import './tailwind.snippets.css';

@import './tailwind.utilities.css';
@import './tailwind.animates.css';
